@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body {
	list-style: none;
	background-color: #41414c;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

/* header */
header {
	z-index: 1;
	width: 100%;
	height: 110px;
	background-color: #41414c;
	padding-top: 20px;
	box-sizing: border-box;
	position: fixed;
}
header > #logo {
	width: 203px;
	height: 64px;
	background: url(../img/logo.png);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header > nav {
	width: 31px;
	height: 32px;
	background: url(../img/menu-btn.gif);
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(0, -50%); /* 앞이 x 뒤가 y */
}

header > .search_btn {
	float: right;
	margin-right: 100px;
}

header > #search_bar {
	display: none;
	z-index: 9;
	padding-top: 20px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 150px;
	background-color: #41414c;
	box-shadow: 0px 10px 20px #0005;
}
header > #search_bar > form > .close_btn {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
header > #search_bar input[type="search"] {
	width: 50%;
	height: 30px;
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header > #search_bar > form > .search_btn {
	position: absolute;
	top: 50px;
	right: 20%;
	transform: translate(-50%, -50%);
}
header > #search_bar > form > .search_btn:hover{
	cursor:pointer;
}
header > #login,
header > #join {
	display: block;
	color: #fff;
	width: 80px;
	height: 26px;
	border: 1px solid #fff5;
	border-radius: 13px;
	text-align: center;
	line-height: 26px;
	float: right;
	text-decoration: none;
}
header > #login {
	margin-right: 20px;
}
header > #join {
	margin-right: 30px;
	background-color: #808091;
}

header > #menu_bar {
	display: none;
	z-index: 9;
	padding-top: 20px;
	position: fixed;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
	background-color: #41414c;
	box-shadow: 0px 10px 20px #0005;
}
header > #menu_bar > img {
	display: block;
	margin-left: 170px;
	margin-bottom: 50px;
}
header > #menu_bar > img:hover{
	cursor:pointer;
}
header > #menu_bar > div {
	width: 170px;
	padding: 10px;
	color: #fff;
	text-align: right;
}
header > #menu_bar > div:hover{
	cursor:pointer;
	color:#333;
	background-color:#ccc;
}

/* section */
section {
	height: auto;
    overflow: hidden;
}
section > .top-btn {
	display: inline-block;
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	font-weight: bold;
	background-color: #fff;
	border: 2px solid #ed1839;
	border-radius: 30px;
	position: fixed;
	right: 5%;
	bottom: 10%;
}
section > .top-btn > a {
	color: #ed1839;
	text-decoration: none;
}

/* footer */
footer {
	width: 100%;
	height: 80px;
	background-color: #000;
}

/* 반응형 **************************************************************/
@media screen and (max-width:950px) {
	header > #login,
	header > #join {
		display: none;
	}
}